/*---------------------------GLADIATOR.HTML-------------------------------*/

.main-title__container {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 90px;
}

.main-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.313em;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  line-height: 1.05em;
}

.main-title__menu a,
menu {
  font-family: "Lora", sans-serif;
  color: #a8a8a8;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 7px;
  justify-content: center;
  display: inline-block;
}

.main-title__menu > li:not(:last-child):after {
  content: "•";
  padding-inline: 5px;
  color: #cf2e2e;
}

.main-title__menu a:hover {
  color: #fff;
  transition-duration: 0.5s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.main__gladiator {
  flex: 2;
  margin-right: 20px;
  margin-top: 100px;
}

/*------ HERO BANNER START ------*/

.hero-banner__gladiator img {
  width: 100%;
}

.meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #777;
  gap: 15px;
  margin: 20px;
}

.meta span {
  display: flex;
  align-items: center;
}

.meta-category a {
  color: #f39c12;
  text-decoration: none;
  margin-right: 5px;
}

.meta-category a:hover {
  text-decoration: underline;
}

.meta-views img,
.meta-likes img,
.meta-comments img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.meta-views,
.meta-likes,
.meta-comments {
  display: flex;
  align-items: center;
  gap: 5px;
}

/*------ MAIN VIDEO START ------*/

.main-video__gladiator {
  margin: 20px auto;
}

.video-container {
  position: relative;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.video-description {
  font-size: 16px;
  color: #737373;
  margin-top: 40px;
}

.video-description a {
  font-family: "Roboto", sans-serif;
  color: #e0041d;
  text-decoration: none;
}

.tags-social__gladiator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 110px auto;
}

.video-tags {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  color: #1a1d24;
}

.video-tags a {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #e0041d;
  text-decoration: none;
  text-transform: lowercase;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f8f8f8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon svg {
  width: 20px;
  height: 20px;
}

.social-icon.twitter {
  background-color: #1da1f2;
}

.social-icon.facebook {
  background-color: #3b5998;
}

.social-icon.email {
  background-color: #d44638;
}

.social-icon:hover {
  background-color: #e0e0e0;
}

/*------ PAGE SELECTOR START ------*/

.page-selector__gladiator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding-top: 30px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.previous-post,
.next-post {
  display: flex;
  flex-direction: column;
}

.previous-post a,
.next-post a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333;
}

.post-label {
  color: #f39c12;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.arrow {
  font-size: 18px;
  margin: 0 5px;
}

/*------ ASIDE START ------*/

.sidebar {
  max-width: 370px;
  margin: 100px auto;
  margin-left: 20px;
}

.box {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.aside-title__gladiator {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.15em;
  text-transform: uppercase;
  color: #1a1d24;
  margin: 0 0 1.57em;
  font-size: 1.063em;
  display: flex;
  align-items: center;
  position: relative;
}

.aside-title__gladiator::after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #e74c3c;
  margin-left: 10px;
}

/* ------ ASIDE SOCIAL START ------*/

.social-btn__aside {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.social-btn__aside .icon-text__aside {
  display: flex;
  align-items: center;
}

.social-btn__aside .icon__aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.social-btn__aside .follow__aside {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
}

.facebook__aside {
  background: linear-gradient(to right, #385a98 75%, #fff 70%);
}

.twitter__aside {
  background: linear-gradient(to right, #1ea4f0 75%, #fff 70%);
}

.youtube__aside {
  background: linear-gradient(to right, #e0041d 75%, #fff 70%);
}

.facebook__aside .icon__aside {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M22.675 0H1.326C.593 0 0 .593 0 1.326v21.348C0 23.407.593 24 1.326 24H12.82v-9.294H9.692V11.31h3.128V8.413c0-3.1 1.893-4.785 4.658-4.785 1.325 0 2.463.099 2.797.143v3.244l-1.919.001c-1.504 0-1.796.715-1.796 1.763v2.311h3.587l-.467 3.396h-3.12V24h6.116c.733 0 1.326-.593 1.326-1.326V1.326C24 .593 23.407 0 22.675 0z" fill="%23ffffff"/%3E%3C/svg%3E');
  background-size: cover;
}

.twitter__aside .icon__aside {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M23.643 4.937c-.835.37-1.732.621-2.675.733.962-.577 1.7-1.49 2.048-2.578-.9.533-1.897.922-2.959 1.131-.847-.903-2.053-1.467-3.387-1.467-2.561 0-4.637 2.078-4.637 4.637 0 .364.04.717.12 1.056C7.728 8.093 4.1 6.13 1.67 3.148c-.4.685-.63 1.48-.63 2.324 0 1.604.816 3.018 2.057 3.847-.758-.024-1.47-.232-2.093-.576v.058c0 2.239 1.594 4.103 3.712 4.527-.389.107-.799.164-1.22.164-.298 0-.588-.029-.871-.084.589 1.84 2.294 3.182 4.314 3.219-1.58 1.239-3.57 1.977-5.734 1.977-.373 0-.742-.022-1.105-.065 2.042 1.309 4.464 2.072 7.07 2.072 8.486 0 13.122-7.028 13.122-13.122 0-.2-.005-.4-.014-.599.901-.649 1.68-1.459 2.3-2.382z" fill="%23ffffff"/%3E%3C/svg%3E');
  background-size: cover;
}

.youtube__aside .icon__aside {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M23.499 6.203a2.965 2.965 0 0 0-2.084-2.088C19.416 3.671 12 3.671 12 3.671s-7.416 0-9.415.444a2.966 2.966 0 0 0-2.084 2.088C0 8.203 0 12.001 0 12.001s0 3.799.501 5.798a2.965 2.965 0 0 0 2.084 2.088c1.999.444 9.415.444 9.415.444s7.416 0 9.415-.444a2.965 2.965 0 0 0 2.084-2.088C24 15.8 24 12.001 24 12.001s0-3.799-.501-5.798zM9.545 15.568V8.431l6.364 3.568-6.364 3.569z" fill="%23ffffff"/%3E%3C/svg%3E');
  background-size: cover;
}

.social-btn__aside:hover .follow__aside {
  background-color: #e0e0e0;
}

/*------ RECENT NEWS START ------*/

.news-list__gladiator {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-item__gladiator {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.news-item__gladiator:last-child {
  margin-bottom: 0;
}

.news-image__gladiator {
  width: 97px;
  height: 81px;
  margin-right: 20px;
}

.news-subtitle__gladiator {
  font-family: "Roboto Condensed", sans-serif;
  color: #1a1d24;
  font-size: 16px;
  text-align: left;
  letter-spacing: -0.33px;
  margin-bottom: 1.02em;
  max-width: 180px;
  margin-bottom: 4px;
  font-weight: bold;
}

.news-subtitle__gladiator a {
  color: #333;
  text-decoration: none;
}

.news-date__gladiator {
  margin-top: 5px;
  text-align: left;
}

.news-date__gladiator a {
  font-family: "Roboto", sans-serif;
  color: #737373;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
}

.news-date__gladiator a:hover {
  text-decoration: underline;
}

/*------ TOP TRAILERS ------*/

.trailer {
  margin-bottom: 20px;
}

.trailer-image {
  width: 100%;
}

.trailer-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.trailer-category {
  font-family: "Roboto Condensed", sans-serif;
  color: #f8b350;
  font-size: 11px;
  font-weight: bold;
  margin-right: 20px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.trailer-date {
  font-family: "Roboto", sans-serif;
  color: #737373;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.trailer-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #1a1d24;
  margin-top: 10px;
  max-width: 319px;
  margin: 13px 0 4px;
  text-align: left;
}
